body {
  /*font-family: 'Roboto', sans-serif;*/
font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;;
}


@font-face {
    font-family: 'harabara_maisharabaramaisdemo';
    src: url('/src/fonts/harabara_mais_demo-webfont.woff2') format('woff2'),
         url('/src/fonts/harabara_mais_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.btn {
  border: 1px solid #fff;
  padding: 5px 30px;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  animation: .6s bgshiny infinite;
}

@keyframes bgshiny {
  0%   {background: #05fae9;}
  33%  {background: #62acd6;}
  66%  {background: #a574c8;}
  100% {background: #fa2cb7;}
}
.nav {
  height: 50px;
  background-image: linear-gradient(
    to right,
    #05fae9,
    #fa2cb7
  );
  width: 100%;
}

:root {
  --section: #000;
}

.header {
  width: 100%;
  height: 100vh;
  background: #000;
  background-image: url('../bg.jpg');
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  animation: space 30s infinite alternate linear;
}

@keyframes space {
  from {background-position:300px 300px;}
  to {background-position:-300px -300px;}
}

figure {
  text-align: center;
}

.logo {
  width: 250px;
}

.heading {
  margin: 20px 0 0 0;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.slide-down-btn {
  background-color: transparent;;
  border: 0;
  margin-bottom: 40px;
  animation: float .5s infinite alternate;
  padding: 15px;
}

@keyframes float {
  from {transform: translateY(0);}
  to {transform: translateY(-10px)}
}

        /*animation: .6s fillshiny infinite;*/

.arrow {
  fill: #fff;
}

.arrow:hover {
  animation: .6s fillshiny infinite;
}

@keyframes fillshiny {
  0%   {fill: #05fae9;}
  33%  {fill: #62acd6;}
  66%  {fill: #a574c8;}
  100% {fill: #fa2cb7;}
}


.paragraph {
  color: #fff;
  font-weight: 300;
  width: 100%;
  max-width: 800px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
font-family: 'Open Sans', sans-serif;;
}

.presentation {
  width: 100%;
  background-color: var(--section);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  color: #fff;
}


.paragraph-2 {
  color: #fff;
  font-weight: 300;
  width: 100%;
  max-width: 800px;
  line-height: 1.5;
  font-size: 18px;

}

.presentation-video-container {
  width: 100%;
  text-align: center;
}

.presentation-video {
  width: 100%;
  max-width: 400px;
  height: 300px;
  margin-top: 30px;
}

.ementa {
  background: var(--section);
  padding: 40px;
}

.ementa-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  color: #fff;
}

.ementa-container ul li ul li {
  font-weight: 300;
}

.section-bg {
  background: var(--section);
  width: 100%;
  padding: 50px 10px;
}

.section-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.shiny-line {
  display: block;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(
    to right,
    #05fae9,
    #fa2cb7
  );
}

.bg-white {
  background: #fff;
}

.heading-lv2 {
        color: #000;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        /*border-bottom: 4px solid #fa2cb7;*/
        padding: 15px 25px;
        font-size: 30px;
        font-weight: 300;
        display: inline-block;
        animation: .6s fillshinyd infinite;
        font-family: 'harabara_maisharabaramaisdemo';
}

.eventick {
  width: 100%;
  border: 0;
}
