<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="featured-list">
  <template>

    <style>
      .afonso {
        list-style: none;
        margin: 0;
        padding: 0;
        color: #fff;
        position: relative;
      }

      .afonso:before {
        content: "";
        display: inline-block;
        width: 4px;
        height: calc(100% - 20px);
        margin-top: 10px;
        background: #05fae9;
        position: absolute;
        top: 0;
        left: 0:
      }

      .afonso-li {
        background-size: 10% 10%;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 20px;
        font-weight: 700;
        padding-left: 50px;
      }

      .afonso-li:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 55px;
        height: 4px;
        top: 10px;
        left: 0px;
        background: #05fae9;
      }


      .afonso-li:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #05fae9;
        border-radius: 50%;
        margin-right: 10px;
      }

      .afonso li ul li {
        padding-left: 50px;
        margin: 4px 0;
      }

      ul li ul {
        padding: 0;
      }

      ul li ul li {
        list-style: none;
        font-weight: 400;
      }
    </style>

        <ul class="afonso">
        <li class="afonso-li">A iportância da organização
          <ul>
          <li>Problemas relacionados</li>
          <li>Code UI</li>
          <li>Developer UX</li>
          </ul>
        </li>
        <li class="afonso-li">Como funciona a cascata
          <ul>
          <li>Escopo</li>
          <li>herança</li>
          <li>Especificidade</li>
          </ul>
        </li>
        <li class="afonso-li">Code Style Guide
          <ul>
          <li>Idiomatic CSS</li>
          </ul>
        </li>
        <li class="afonso-li">Semântica
          <ul>
          <li>Como nomer seus seletores (Clean Code)</li>
          </ul>
        </li>
        <li class="afonso-li">Intro a pré-processesadores
          <ul>
          <li>Module Bundler</li>
          </ul>
        </li>
        <li class="afonso-li">Metodoogias
          <ul>
          <li>SMACS</li>
          <li>BEM</li>
          <li>Atomic Design</li>
          <li>ITCSS</li>
          <li>RSCSS</li>
          </ul>
        </li>
        <li class="afonso-li">React Style</li>
        </li>
        <li class="afonso-li">Modulos
          <ul>
          <li>CSS modules</li>
          <li>Web comonens</li>
          </ul>
        </li>
        <li class="afonso-li">Documentação / Style guide
          <ul>
          <li>Gerar documentação  partir dos comentários (Geral)</li>
          <li>Pattern Lab (Atomic Design)</li>
          <li>Iron elements (Web components)</li>
          <li>bem-docs (BEM)</li>
          </ul>
        </li>
        <li class="afonso-li">HTTP2</li>
        </ul>

  </template>

  <script>
    Polymer({
      is: 'featured-list'
    });

  </script>
</dom-module>
