<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="featured-list-front">
  <template>

    <style>
      .afonso {
        list-style: none;
        margin: 0;
        padding: 0;
        color: #fff;
        position: relative;
        margin-top: 45px;
      }

      .afonso:before {
        content: "";
        display: inline-block;
        width: 4px;
        height: calc(100% - 20px);
        margin-top: 10px;
        background: #05fae9;
        position: absolute;
        top: 0;
        left: 0:
      }

      .afonso-li {
        background-size: 10% 10%;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 20px;
        font-weight: 700;
        padding-left: 50px;
      }

      .afonso-li:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 55px;
        height: 4px;
        top: 10px;
        left: 0px;
        background: #05fae9;
      }


      .afonso-li:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #05fae9;
        border-radius: 50%;
        margin-right: 10px;
      }

      .afonso li ul li {
        padding-left: 50px;
        margin: 4px 0;
      }

      ul li ul {
        padding: 0;
      }

      ul li ul li {
        list-style: none;
        font-weight: 400;
      }
    </style>

        <ul class="afonso">

<li class="afonso-li">Introduão e criando Repositório</li>
<li class="afonso-li">Open Source Checklist</li>
<li class="afonso-li">Explorando Open Source Boilerplate</li>
<li class="afonso-li">Entendo Semantic Version 2.0</li>
<li class="afonso-li">Como trabalhar com Roadmap e Kanban board no Github</li>
<li class="afonso-li">O que é Node</li>
<li class="afonso-li">Como trabalhar com NPM</li>
<li class="afonso-li">Planejamento da Stack</li>
<li class="afonso-li">Planejamento do processo de Build</li>
<li class="afonso-li">Entendo Stylus</li>
<li class="afonso-li">Pug como template engine (layout, etc..)</li>
<li class="afonso-li">Code Style Guide</li>
<li class="afonso-li">Criando arquitetura de pastas e arquivos básicos</li>
<li class="afonso-li">Entendo Veiewport</li>
<li class="afonso-li">Adicionando OpenGraph</li>
<li class="afonso-li">Adicionando Twitter Cards</li>
<li class="afonso-li">Intro a Gulp</li>
<li class="afonso-li">Montar a base do Gulpfile</li>
<li class="afonso-li">intro a PWA</li>
<li class="afonso-li">Web Manifest</li>
<li class="afonso-li">Gulp Linters</li>
<li class="afonso-li">Dependencies com Deivid</li>
<li class="afonso-li">Travis CI</li>
<li class="afonso-li">Readme Docs</li>
<li class="afonso-li">Pensar estrutura semântica do HTML</li>
<li class="afonso-li">Component 1 (HTML Semantico + CSS + JS)</li>
<li class="afonso-li">consumindo JSON Statico com Pug</li>
<li class="afonso-li">Component 2 (HTML Semantico + CSS + JS)</li>
<li class="afonso-li">Component 3 (HTML Semantico + CSS + JS)</li>
<li class="afonso-li">CSS Layout pt 1</li>
<li class="afonso-li">Mobile First está errado</li>
<li class="afonso-li">CSS Layout pt 2</li>
<li class="afonso-li">SPA com sennaJS</li>
<li class="afonso-li">Test A11y basics</li>
<li class="afonso-li">Salto de conteúdo</li>
<li class="afonso-li">Automatizando Deploy</li>
<li class="afonso-li">Tag</li>
<li class="afonso-li">Dev Tools</li>
<li class="afonso-li">Consumindo API Rest</li>
<li class="afonso-li">Performance Test</li>

        <li class="afonso-li">Visão do futuro com arquiteturas para HTTP2</li>
        </ul>


  </template>

  <script>
    Polymer({
      is: 'featured-list-front'
    });

  </script>
</dom-module>
