<html><head><link rel="import" href="../../bower_components/polymer/polymer.html">

</head><body><dom-module id="h2-shiny">
  <template>
    <style>h2{color:#fff;margin-top:0;margin-left:auto;margin-right:auto;padding:15px 25px;font-size:30px;font-weight:300;display:inline-block;animation:.6s fillshinyd infinite;font-family:'harabara_maisharabaramaisdemo';}</style>

    <h2>
      <content></content>
    </h2>

  </template>

  <script>Polymer({is:"h2-shiny"});</script>
</dom-module>
</body></html>